body
{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.backgroundimage
{
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	opacity: 65%;
	z-index: -1;
}
#list
{
	width: 25%;
	background-color: rgb(230, 204, 255, 0.7);
	box-shadow: 0 0 red 1rem;
	text-align: center;
	padding: 0.4rem 0;
}
#list li
{
	font-size: 1.5rem;
	padding: 1%;
	text-indent: none;
	list-style: inside square;
	font-weight: lighter;
}
#list li:first-child
{
	list-style: none;
	text-transform: capitalize;
	font-weight: bolder;
}